* {
	text-align: center;
}

html, body { 
  height: 100%;
  width: 100%;
}

.slide {
	height: 100vh;
	width: fill;
}

.no-margin {
	margin: 0;
}

.middle {
	padding-top: 50vh;
}

.red {
	background-color: #ff0000;
}

.orange {
	background-color: #ff7f00
}

.yellow {
	background-color: #ffff00;
}

.green {
	background-color: #00ff00;
}

.blue {
	background-color: #0000ff;
}


.indigo {
	background-color: #4b0082;
}

.violet {
	background-color: #8f00ff;
}


.black {
	background-color: #000000;
}

.whiteText {
	color: #fff;
}

.bigText {
	font-size: 300%;
}